h1[data-v-e0c9f578]{background-image:linear-gradient(45deg,#06b6d4,#22d3ee);background-size:100%;-webkit-background-clip:text;-moz-background-clip:text;-webkit-text-fill-color:transparent;-moz-text-fill-color:transparent}
