h1[data-v-38505395]{background-image:linear-gradient(45deg,#9bb8d3,#6f9acb);background-size:100%;-webkit-background-clip:text;-moz-background-clip:text;-webkit-text-fill-color:transparent;-moz-text-fill-color:transparent}
