h1[data-v-b036aeff]{background-image:linear-gradient(45deg,#a18cd1,#fbc2eb);background-size:100%;-webkit-background-clip:text;-moz-background-clip:text;-webkit-text-fill-color:transparent;-moz-text-fill-color:transparent}
